// all color variables should go here

// same for both themes
$light: #fcfcfc;
$dark: #14171b;
$nss-orange: #db5d19;

// primary  theme
$font-stack: 'Work Sans', sans-serif;
$primary-color: #ed5e34;
$secondary-color: #F5F9FF;
$accent-color: #48beff;

// fun theme
$fun-primary-color: #f7567c;
$fun-secondary-color: #99e1d9;
$fun-accent-color: #817FFF;

$fun-font-stack: 'Bungee Inline', sans-serif;
// $fun-font-stack: 'Ribeye', cursive;
// $fun-font-stack: 'Audiowide', cursive;
// $fun-font-stack: 'Gloria Hallelujah', cursive;
// $fun-font-stack: 'Fredericka the Great', cursive;
// $fun-font-stack: 'Londrina Solid', cursive;

// $fun-font-stack: 'Arima Madurai', cursive;
// $fun-font-stack: 'Averia Libre', cursive;
// $fun-font-stack: 'Shadows Into Light Two', cursive;
// $fun-font-stack: 'Bangers', cursive;
// $fun-font-stack: 'Sigmar One', cursive;
// $fun-font-stack: 'Cabin Sketch', cursive;
// $fun-font-stack: 'Love Ya Like A Sister', cursive;
// $fun-font-stack: 'Itim', cursive;
// $fun-font-stack: 'Bungee Inline', cursive;
// $fun-font-stack: 'Frijole', cursive;
