@import 'variables';

// basic layout
html {
	font-size: 16px;
}

body {
	background-color: $secondary-color;
	color: $dark;
	font-family: $font-stack;
}

// HIDE CLASS
.hide {
	display: none;
}

// links (& social icons in profile grid)
a {
	color: $dark;

	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
}

// safari flexbox grid fix - https://getbootstrap.com/docs/4.0/layout/grid/ - Auto-layout columns
.col-lg-3,
.col-md-4,
.col-sm-6 {
	border: 1px solid transparent;
}

// NAVBAR
.navbar {
	background-color: $secondary-color;
	color: $primary-color;
	z-index: 4;
	// box-shadow: 1px 10px 5px gray;

	// nav links
	a {
		color: $primary-color;

		&:hover {
			color: $light;
		}
	}
}

// SECTIONS/HEADERS
section {
	.container {
		// TODO - this should change with color pallette
		background-color: #fff;
	}

	header {
		background-color: $primary-color;
		padding: 1.5rem;
		width: 100%;

		.container {
			background-color: inherit;
		}

		h3 {
			margin: 0;
			width: 100%;
		}
	}

	article {
		padding: 2rem;
	}
}

// PARALLAX
.parallax{
	height: 720px;
	background-image:url('../images/group/C20_Group_Final.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 100% auto;
	position:relative;
}
section.parallax h1 {
	text-align: center;
	color:$primary-color;
	text-shadow: 2px 2px 2px $dark;
	padding-top:50px;
}

// GROUP PHOTO - layout for animation
#groupPhotoContainer {
	img {
		border: 0;
		height: auto;
		left: 0;
		max-width: 100%;
		position: absolute;
		top: 0;
	}

	// animations need to be positioned over the empty chair photo
	.progress-animation-photo {
		border: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	// this photo of empty chairs is always on page to prevent div collapsing
	#groupPhoto0 {
		position: relative;
		width: 100%;
		z-index: 0;
	}

	// reload button positioning over group photos
	button {
		border: 0;
		bottom: 50px;
		left: 20px;
		position: relative;
		z-index: 2;
	}
}

// STUDENT PROFILE GRID
// this is the class for the section of grid cards except for the icon links strip on bottom
.overlay-container {
	position: relative;

	&:hover {
		.overlay {
			height: 100%;
		}
	}
}

.card {
	background-color: $light;
	margin-bottom: 1rem;
}

.profile-pic {
	display: block;
	height: auto;
	width: 100%;
}

.opaque-pic {
	opacity: 0.4;
}

// hover pop-up of profile grid
.overlay {
	bottom: 0;
	height: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	transition: 0.5s ease;
	width: 100%;
}

.description {
	overflow: hidden;
	position: absolute;
}

@media (max-width: 450px) {
	.parallax {
		height:150px;
		width:100%;
		background-size: contain;
	}
	// #groupPhoto0{
		//this one hangs down behind the rest until the end of the animation & looks odd
	// }
	#navBar > nav{
		padding:0;
	}
}

@media (min-width:451px)and(max-width:768px){
	.parallax {
		height:350px;
		width:100%;
		background-size: contain;
	}
	// #groupPhoto0{
		//this one hangs down behind the rest until the end of the animation & looks odd
	// }
	#navBar > nav{
		padding:0;
	}
}

@media (min-width:769px)and(max-width:1024px){
	.parallax {
		height:450px;
		width:100%;
		background-size: contain;
	}
	// #groupPhoto0{
		//this one hangs down behind the rest until the end of the animation & looks odd
	// }
	#navBar > nav{
		padding:0;
	}
}