@import 'variables';

// basic layout
html {
	font-size: 16px;
}

// FONTS AND THEME
body {
	background-color: $secondary-color;
	color: $dark;
	font-family: $font-stack;
}

//DARK THEME
.darkThemedBg {
	background-color: $dark;
	color: $blood-red;

	section {
		header {
			background-color: $dark;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.navbar {
		a {
			font-family: $dark-font;
		}
	}

	.container {
		background-color: $dark;
	}
}

// DARK THEME BUTTON
.darkThemeBtn {
	bottom: 10px;
	position: fixed;
	right: 10px;
	z-index: 2;

	i {
		font-size: 2em;
	}
}

// links (& social icons in profile grid)
a {
	color: $dark;

	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
}

// safari flexbox grid fix - https://getbootstrap.com/docs/4.0/layout/grid/ - Auto-layout columns
.col-lg-3,
.col-md-4,
.col-sm-6 {
	border: 1px solid transparent;
}

// NAVBAR
.navbar {
	background-color: $secondary-color;
	color: $primary-color;
	z-index: 4;
	// box-shadow: 1px 10px 5px gray;

	// nav links
	a {
		color: $primary-color;

		&:hover {
			color: $light;
		}
	}
}

// SECTIONS/HEADERS
section {
	.container {
		// TODO - this should change with color pallette
		background-color: #fff;
	}

	header {
		background-color: $primary-color;
		padding: 1.5rem;
		width: 100%;

		.container {
			background-color: inherit;
		}

		h3 {
			margin: 0;
			width: 100%;
		}
	}

	article {
		padding: 2rem;
	}
}

// GROUP PHOTO - layout for animation
#groupPhotoContainer {
	img {
		border: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	// animations need to be positioned over the empty chair photo
	.progress-animation-photo {
		margin-top: 1rem; // fixes offset from group-photo0
		// width: 100%;
		z-index: 1;
	}

	// this photo of empty chairs is always on page to prevent div collapsing
	#groupPhoto0 {
		position: relative;
		width: 100%;
		z-index: 0;
	}

	// reload button positioning over group photos
	button {
		border: 0;
		bottom: 50px;
		left: 20px;
		position: relative;
		z-index: 2;
	}
}

// STUDENT PROFILE GRID
// this is the class for the section of grid cards except for the icon links strip on bottom
.overlay-container {
	position: relative;

	&:hover {
		.overlay {
			height: 100%;
		}
	}
}

.card {
	background-color: $light;
	margin-bottom: 1rem;
}

.profile-pic {
	display: block;
	height: auto;
	width: 100%;
}

.opaque-pic {
	opacity: 0.4;
}

// hover pop-up of profile grid
.overlay {
	bottom: 0;
	height: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	transition: 0.5s ease;
	width: 100%;
}

.description {
	overflow: hidden;
	position: absolute;
}

// TECHNOLOGIES GRID
.logo-title {
	padding: 1.5rem 0;
}

.logo-img {
	height: auto;
	width: 75%;
}

// FOOTER
#footer {
	background-color: $secondary-color;
	color: $primary-color;

	ul {
		padding: 0.6rem;
	}

	li {
		display: inline;
		list-style-type: none;
		padding-right: 35px;
	}

	a {
		color: $primary-color;

		&:hover {
			color: $light;
		}

		i {
			margin-right: 10px;
		}
	}
}

@media only screen and (max-width: 485px) {
	#footer ul li {
		display: block;
	}
}

// HIDE CLASS
.hide {
	display: none;
}
