@import 'variables';
/* eslint-disable max-len */

// basic layout
html {
	font-size: 16px;
}

// FONTS AND THEME
body {
	background-color: $secondary-color;
	background-image: url('../images/03.png');
	color: $dark;
	font-family: $font-stack;
	padding-top: 40px;
}

// links (& social icons in profile grid)
a,
i {
	color: $dark;

	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
}

button {
	i {
		color: inherit;
	}
}

//DARK THEME
.fun-theme {
	background-color: $fun-secondary-color;
	color: $light;
	font-family: $fun-font-stack;

	.container {
		background-color: $dark;
	}

	nav {

		a,
		i {
			color: $light;

			&:hover {
				color: $fun-accent-color;
			}
		}
	}

	a,
	i {
		color: $fun-secondary-color;

		&:hover {
			color: $fun-accent-color;
		}
	}

	.card {
		color: $dark;

		a,
		i {
			color: $dark;

			&:hover {
				color: $fun-accent-color;
			}
		}
	}

	.card-title {
		color: $fun-accent-color;
	}

	button {
		i {
			color: inherit;
		}
	}

	section {
		header {
			background-color: $fun-primary-color;

			.container {
				background-color: inherit;
			}
		}
	}

	p {
		font-family: $font-stack;
	}

	footer {
		a {
			color: $light;

			&:hover {
				color: $fun-accent-color;
			}
		}
	}

}

// DARK THEME BUTTON
.fun-theme-btn {
	bottom: 10px;
	position: fixed;
	right: 10px;
	z-index: 2;

	i {
		font-size: 2em;
	}
}

// safari flexbox grid fix - https://getbootstrap.com/docs/4.0/layout/grid/ - Auto-layout columns
.col-lg-3,
.col-md-4,
.col-sm-6 {
	border: 1px solid transparent;
}

// NAVBAR
.navbar {
	background-color: $dark;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	color: $primary-color;
	font-size: 1.3rem;
	z-index: 4;

	.navbar-brand {
		color: $light;
	}

	// nav links
	a,
	i {
		color: $primary-color;

		&:hover {
			color: $light;
		}
	}

	.navbar-nav {
		width: 100%;
	}
}

.no-transition {
	transition: height 0.005s;
}

// SECTIONS/HEADERS
section {
	.container {
		background-color: $light;
	}

	// fix id anchors for fixed nav - https://css-tricks.com/hash-tag-links-padding/
	&::before {
		content: ' ';
		display: block;
		height: 50px;
		margin-top: -50px;
		visibility: hidden;
	}

	header {
		background-color: $primary-color;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		padding: 1.5rem;
		width: 100%;

		.container {
			background-color: inherit;
		}

		h3 {
			margin: 0;
			width: 100%;
		}
	}

	article {
		padding: 2rem;

		a {
			color: $primary-color;

			&:hover {
				color: $accent-color;
			}
		}

		blockquote {
			font-style: italic;
			padding-left: 2rem;
		}
	}
}

// GROUP PHOTO - layout for animation
#groupPhotoContainer {
	position: relative;

	img {
		border: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	// animations need to be positioned over the empty chair photo
	.progress-animation-photo {
		// width: 100%;
		z-index: 1;
	}

	// this photo of empty chairs is always on page to prevent div collapsing
	#groupPhoto0 {
		position: relative;
		width: 100%;
		z-index: 0;
	}

	// reload button positioning over group photos
	button {
		border: 0;
		bottom: 50px;
		left: 20px;
		position: relative;
		z-index: 2;
	}
}

// STUDENT PROFILE GRID
// this is the class for the section of grid cards except for the icon links strip on bottom
.overlay-container {
	position: relative;

	&:hover {
		.overlay {
			height: 100%;
		}
	}
}

.card-group {
	margin-bottom: 1rem;
}

.card {
	background-color: $light;
}

.card-body {
	font-size: 0.95rem;
}

.profile-pic {
	display: block;
	height: auto;
	width: 100%;
}

.opaque-pic {
	opacity: 0.4;
}

// hover pop-up of profile grid
.overlay {
	bottom: 0;
	height: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	transition: 0.5s ease;
	width: 100%;
}

.description {
	overflow: hidden;
	position: absolute;
}

.profile-links {
	font-size: 1.5rem;
}

// TECHNOLOGIES GRID
.logo-title {
	padding: 1.5rem 0;
}

.logo-img {
	background-color: $light;
}

// FOOTER
footer {
	background-color: $dark;
	color: $primary-color;

	ul {
		margin-bottom: 0;
		padding: 0.6rem;
	}

	li {
		display: inline;
		list-style-type: none;
		padding-right: 35px;
	}

	a {
		color: $primary-color;

		&:hover {
			color: $light;
		}
	}
}

@media only screen and (max-width: 485px) {
	footer {
		ul {
			li {
				display: block;
			}
		}
	}
}


// HIDE CLASS
.hide {
	display: none;
}
