<ul>
	<li>&copy; <span id="current-year"></span> | Cohort 20</li>
	<li><a href="http://www.ingehooker.com/" target="_blank"><i class="fa fa-camera" aria-hidden="true"></i>ingehooker.com</a></li>
</ul>
