<nav class="nav nav-pills nav-fill">
	<a class="nav-item nav-link" href="#">Clan</a>
	<a class="nav-item nav-link" href="#">Technologies</a>
	<a class="nav-item nav-link" href="#">Stats</a>
	<a class="nav-item nav-link disabled" href="#">Fun pictures</a>
</nav>
