<nav class="nav nav-pills nav-fill navBar">
  <a class="nav-item nav-link" href="#">
    <img src="../images/icons/group.png"> Students</a>
  <a class="nav-item nav-link" href="#">Technologies</a>
  <a class="nav-item nav-link" href="#">Stats</a>
</nav>