<nav class="nav nav-pills nav-fill navBar">
	<a class="nav-item nav-link" href="#">
		<i class="fa fa-users" aria-hidden="true"></i>
		Cohort
	</a>
	<a class="nav-item nav-link" href="#">Technologies</a>
	<a class="nav-item nav-link" href="#">Stats</a>
</nav>
