<div class="row">
	{{#each cohort}}
	<div class="col">
		<div class="card" style="width: 20rem;">
			<div class="overlayContainer">
				<img src="{{pro_img}}" alt="Avatar" class="cardImage card-img-top">
				<div class="overlay">
					<div class="card-body">
						<p class="description">
							Some quick example text to build on the card title and make up the bulk of the card's content.
						</p>
					</div>
				</div>
			</div>
			<div class="inline">
				<a href="#" class="card-link">
					<img src="images/icons/GitHub-Mark-64px.png" alt="GitHub Icon" class="mh-100">
				</a>
				<a href="#" class="card-link">
					<img src="images/icons/In-Black-66.png" alt="LinkedIn Icon">
				</a>
			</div>
		</div>
	</div>
	{{/each}}

</div>
