<div class="card" style="width: 20rem;">
	<img class="card-img-top" src="..." alt="Card image cap">
	<div class="card-body">
		<a href="#" class="card-link">Card link</a>
		<a href="#" class="card-link">Another link</a>
	</div>
</div>
