<div class="row">
	{{#each technologies}}
		<div class="col-lg-3 col-md-4 col-sm-6 text-center">
			<img class="img-fluid tech-logo" src="./images/logos/{{image}}.png">
			<h5 class="logo-title">{{name}}</h5>
	</div>
	{{/each}}
</div>