<div class="row">
	{{#each technologies}}
	<div class="col-6 col-md-4 col-lg-2 text-center">
		<img class="img-fluid logo-img w-75" src="./images/logos/{{image}}.png">
		<p class="logo-title">{{name}}</p>
	</div>
	{{/each}}
</div>
